<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
    <script src="./list.js"></script>
    <script src="https://unpkg.com/vue@2.4.1/dist/vue.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <div class="ruler-box">
            <div class="ruler-head">
                <span>延迟</span>
                <span>值</span>
            </div>
            <ruler class="ruler ruler-1" :value="delayRules" :min="100" :max="500" v-on:update="changeRule">
            </ruler>
            <ruler class="ruler ruler-2" :value="rules" :min="100" :max="500" v-on:update="changeRule"></ruler>
        </div>
        <div class="draw-area">
            <div v-for="(arr, index) in levels" :key="index">
                <div v-for="(v,index) in arr" v-if="!v.parent || v.parent.open" class="vnode" v-bind:class="{pnode: v.children && v.children.length > 0, 'red':v.red}" :key="index" :style="'left:' + (v.left) + 'px; top:' + (v.top) + 'px'" @click="toggle(v)">
                    <div class="text">
                        {{v.id}}:{{v.name}}
                    </div>
                    <div class="tip">
                        <p>
                            id: {{v.id}}
                        </p>
                        <p>
                            name: {{v.name}}
                        </p>
                        <p>
                            value: {{v.value}}
                        </p>
                        <p>
                            delay: {{v.delay}}
                        </p>
                    </div>
                </div>
            </div>
            <svg width="800" height="1400">
                <!-- <line class="link" v-for="(link, index) in list" v-if="link.deep > 0" :x1="link.left" :y1="link.top + 10" :x2="link.parent.left + 50" :y2="link.parent.top + 10"></line> -->
                <path class="link" v-for="(link, index) in list" v-if="link.deep > 0 && link.parent.open" 
                    v-bind:class="{'red': link.delay >= delayRules.min && link.delay <= delayRules.max}"
                    :d="link.path"></path>
            </svg>
        </div>
    </div>
    <script src="./ruler.js"></script>
    <script src="./vdata.js"></script>
</body>
</html>